/* font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;GENIAL
font-family: 'Raleway', sans-serif;
font-family: 'Sedgwick Ave Display', cursive; */
/*botones de talle y cant  */
@import "master.css";

.custom-select{
  width: 10%;
}


._resumen{
  background-color: grey;
  width: 80%;
  color:white;
  height: 50vh;
  padding-top: 10px;
  }

  #resumenProductos{
    height: auto;
  }
